[Unit]
Description=Dev Daemon for vault
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
StartLimitInterval=20
StartLimitBurst=5
TimeoutStartSec=0
Environment="HOME=/root"
ExecStartPre=-/usr/bin/docker kill dev-vault
ExecStartPre=-/usr/bin/docker rm dev-vault
ExecStartPre=-/usr/bin/docker pull vault:0.9.1
ExecStart=/usr/bin/docker run \
        --net bridge -m 0b \
        -p 8200:8200 \
        --name dev-vault \
        --cap-add=IPC_LOCK \
        vault:0.9.1 server -dev

ExecStop=-/usr/bin/docker stop -t 45 dev-vault

[Install]
WantedBy=multi-user.target
